PROJECT_NAME=KafkaX
API_V1_STR=/api/v1

# For running locally on host machine (connecting to localhost ports)
# DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/kafkax
# REDIS_URL=redis://localhost:6379/0

# For docker-compose network resolution
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/kafkax
REDIS_URL=redis://redis:6379/0
